.center {
    margin: 0 auto;
    width: 20%;
    color: blue;
}

.center:hover {
    color: black;
}

h1 {
    color: black;
    font: 1.6em Arial;
    margin-bottom: 0;
    font-weight: 900;
}

.DetailHeader {
    border-top: 2px solid black;
    cursor: pointer;
    position: relative;
    list-style: none;
    font-family: Arial;
    font-size: 1.6em;
    font-weight: 900;
}

.HiddenContent {
    display: none;
}

.DetailHeader:hover+.HiddenContent {
    display: block;
    color: black;
    animation-name: open;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes open {
    0% {
        transform: scale(0.7);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
    }
}
