.center {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    color: blue;
}

.center:hover {
    color: black;
}

h1 {
    color: black;
    font: 1.6em Arial;
    margin-bottom: 0;
    font-weight: 900;
}

img {
    height: auto;
    width: auto;
}

details {
    border-top: 2px solid black;
    cursor: pointer;
}

details summary {
    list-style: none;
    font-family: Arial;
    font-size: 1.6em;
    font-weight: 900;
}

details[open] summary {
    color: black;
}

details[open] img {
    animation-name: open;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes open {
    0% {
        transform: scale(0.7);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
    }
}
